.vscode/
ocw_env/
**/bin
**/*.cfg
**/include
**/lib
**/Scripts
*.pyc
6-006_python/rec01/problem.py
6-006_python/rec01/problem1D.py
6-006_python/ps1/problem.py
6-006_python/**/trace.jsonp
6-006_python/ps1/problem.py
6-006_python/lec02_code/docs/lec02Docs.aux
6-006_python/lec02_code/docs/lec02Docs.fdb_latexmk
6-006_python/lec02_code/docs/lec02Docs.fls
6-006_python/lec02_code/docs/lec02Docs.log
6-006_python/lec02_code/docs/lec02Docs.out
6-006_python/lec02_code/docs/lec02Docs.synctex.gz
6-006_python/lec02_code/docs/lec02Docs.toc
6-006_python\lec_04\__pycache__
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
